.home-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
}

.product-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.product-image {
  object-fit: cover;
  width: 90%;
  height: 90%;
}

.product-description {
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  padding: .1rem 1rem;
}

.product-container {
  /* height: 100vh; */
  display: flex;
  flex-wrap: row;
  justify-content: center;
}

.main-image, .product-info {
  height: 70vh;
}

.image-column {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  max-height: 39vw;
  border: 1px solid red;
}

.outer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 90%;
  height: 90%;
}

.inner-column {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
}

.inner-column:hover {
  border: 1px solid black;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid purple;
}

.product-info {
  width: 35%;
  border: 1px solid blue;
  overflow: auto;
}

.column-image {
  max-width: 100%;
  max-height: 100%;
}
