.home-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-items: center;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 100%;
}

.product-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.product-image {
  object-fit: cover;
  width: 300px;
  height: 90%;
}

.product-description {
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  padding: .1rem 1rem;
}
